@use 'colors';
@use 'centering';
@use 'mediaqueries';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e2eff1;
}
// Image screens
.screens{
    @include center();
    @include screen1();
    @include screen2();
    @include screen3();
    background-color: color.$banner-color5;
    margin: 0px 0px 6dvh;
}
// Stripes
.stripes-container {
    margin: 0px 0px 6dvh;
    .stripe1{
        background-color: color.$SC-color1;
        width:100%;
        min-height: 50px;
    }
    .stripe2{
        background-color: color.$SC-color2;
        width:100%;
        min-height: 50px;
    }
    .stripe3{
        background-color: color.$SC-color3;
        width:100%;
        min-height: 50px;
    }
    .stripe4{
        background-color:color.$SC-color4;
        width:100%;
        min-height: 50px;
    }
}
// Circles
.container{
    @include center();
    @include breakpoint-circles();
    margin: 8dvh 0vw 8dvh;
    .circle1{
        background-color: color.$SC-color1;
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
    .circle2{
        background-color: color.$SC-color2;
        width: 80px;
        height: 80px;
        border-radius: 100%;
    }
    .circle3{
        background-color: color.$SC-color3;
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }
    .circle4{
        background-color: color.$SC-color4;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
}
// Stripe and Circle on hover *only on desktop*
.stripes:hover, .circles:hover{
    background-color: color.$hover-color;
}
// Footer
footer{
    display: flex;
    flex-direction: column;
    height: 50px;
    background-color: color.$banner-color5;
}