* {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

.nav { /* Header Banner */
  background-color: #1e90ff;
  width: 100%;
  height: 8vh;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: center;
}

#icon { /* Website icon */
  padding: 1.5vh 0vh 1vh 2vh;
  color: #FFFFFF;
  font-size: 1.7rem;
  font-weight: 600;
}
/* Navigation bar */
ol {
  display: flex;
  list-style: none;
  margin: auto 1vw;
}

ol li {
  margin: 0px 0.7vw 
}

ol li a {
  color: #FFFFFF;
  text-decoration: none;
}
/* Searchbar */
#searchbar {
  display: flex;
  margin: auto 0px;
  height: 4vh;
}

#searchbar input {
  border: 2px;
  outline: 2px;
  background-color: #FFFFFF;
  height: 100%;
  padding: 0px 0.5vw;
  font-size: 0.9rem;
  width: 300px;
}
/* Website content */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5vw;
  width: fit-content;
  padding: 0px 15% 0px 15%;
  margin: 1vw;
}
/* Main movie content container  */
.main-child {
  width: 32vw;
  height: fit-content;
  box-shadow: 1px 1px 8px gray;
}

.main-child img { 
  width: 32vw;
}
/* Side movie content containers */
.featured-child {
  display: grid;
  grid-template-columns: 16vw 16vw;
  grid-template-rows: 2;
  grid-gap: 0.5vw;
  width: 16vw;
}

.featured-child img {
  width: 14.5vw;
  padding: 15px 15px 0px 15px;
}
/* Individual movie containers */
.movie {
  box-shadow: 1px 1px 5px gray;
}
/* Movie title */
.title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 15px 8px 15px;
}
/* Movie description */
.desc {
  padding: 0px 15px 0px 15px;
  line-height: 1.5;
}
/* 'More' button */
.more {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 3vh 1vw 2vh;
}

.more button {
  border: 2px;
  outline: 0px;
  border-radius: 3px;
  padding: 0.5vh 1vw 0.5vh 1vw;
  background-color: #1e90ff;
  color: #FFFFFF;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  padding: 5vh 0vw 3vh;
}
/* When screen size is less than or equall to 1280px */
@media (width <= 1280px) {
  .grid-container {
    padding: 0;
    grid-gap: 1vw
  }

  .main-child {
    width: 48vw;
  }

  .main-child img {
    width: 48vw;
  }

  .featured-child {
    grid-template-columns: 24vw 24vw;
    width: 24vw;
    grid-gap: 1vw
  }

  .featured-child img {
    width: 21.5vw;
  }
}
/* When screen size is less than or equall to 1024px */
@media (width <= 1024px) {
  .grid-container {
    padding: 0;
    grid-gap: 1.5vw;
  }

  .main-child {
    width: 64vw;
  }

  .main-child img {
    width: 64vw;
  }

  .featured-child {
    grid-template-columns: 32vw;
    width: 32vw;
    grid-gap: 1.5vw;
  }

  .featured-child img {
    width: 29vw;
  }
}
/* When screen size is less than or equall to 800px */
@media (width <= 800px) {
  .grid-container {
    padding: 0;
    grid-template-columns: 98vw;
    grid-gap: 2vw;
  }

  .main-child {
    width: 98vw;
  }

  .main-child img {
    width: 98vw;
  }

  .featured-child {
    grid-template-columns: 49% 49%;
    width: 100%;
    grid-gap: 2vw;
  }

  .featured-child img {
    width: 44vw;
  }

  #searchbar {
    display: none;
  }
}

/* When screen size is less than or equall to 480px */
@media (width <= 480px) {
  .grid-container {
    padding: 1vh 2vw 0vh 2vw;
    grid-template-columns: 94vw;
    grid-gap: 4vw;
  }

  .main-child {
    width: 94vw;
  }

  .main-child img {
    width: 94vw;
  }

  .featured-child {
    grid-template-columns: 94vw;
    width: 94vw;
    grid-gap: 4vw;
  }

  .featured-child img {
    width: 88vw;
  }

  #searchbar {
    display: none;
  }

  .more {
    padding: 3vh 2vw 2vh;
  }

  .more button {
    padding: 0.5vh 2vw 0.5vh 2vw;
  }
}