// Stripes and Circle colors
$SC-color1: #4e89ae;
$SC-color2: #43658b;
$SC-color3:#ed6663;
$SC-color4: #ffa372;
// Header and Footer color
$banner-color5: #8ccff7;
// onHover color
$hover-color: #444;